.product-card-lebar,
.product-card-lebar:hover {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  padding-bottom: 16px;
  border-bottom: 1px solid #E5E5E5;
}

.product-card-lebar:last-child {
  border: none;
}

.product-card-lebar img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.product-card-lebar .flex-fill p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 4px;
}

.product-card-lebar .flex-fill .text-penawaran-produk,
.product-card-lebar .text-tanggal {
  color: #8A8A8A;
}