/* .daftar-jual .col-lg-9 {
  background-color: red;
}

.col-lg-3 {
  background-color: blue;
} */

.daftar-jual {
  margin-top: 40px;
}

.daftar-jual .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: black;
  text-transform: capitalize;
}

.daftar-jual-seller {
  padding: 16px;
  margin-top: 24px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  height: 80px;
}

.daftar-jual-seller img {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  display: block;
}

.daftar-jual-seller .flex-fill {
  margin-left: 16px;
  height: 38px;
  max-height: max-content;
}

.daftar-jual-seller .flex-fill .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  text-transform: capitalize;
}

.daftar-jual-seller .flex-fill .text {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8A8A8A;
  margin-top: 4px;
  text-transform: capitalize;
}

.daftar-jual-seller .button {
  background-color: transparent;
  border: 1px solid #7126B5;
  border-radius: 8px;
  width: 47px;
  height: 26px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
  text-decoration: none;
}

.daftar-jual-seller .button:hover {
  transform: scale(1.05);
}

.daftar-jual-kategori {
  padding: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.daftar-jual-kategori .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
  margin-bottom: 24px;
  text-transform: capitalize;
}

.daftar-jual-kategori .nav .nav-link {
  margin-bottom: 19px;
  padding-bottom: 16px;
  height: 40px;
  max-width: 210px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #D0D0D0;
  text-decoration: none;
}

.daftar-jual-kategori .nav .nav-link .d-flex {
  padding-bottom: 16px;
  width: 100%;
}

.daftar-jual-kategori .nav .nav-link:last-child {
  border-bottom: none;
}

.daftar-jual-kategori .d-flex img {
  width: 24px;
  height: 24px;
}

.daftar-jual-kategori .d-flex .flex-fill {
  color: black;
  margin-left: 8px;
  text-align: left;
}

.daftar-jual-kategori .active .flex-fill {
  color: #7126B5;
  background-color: transparent;
}

.daftar-jual-kategori .nav .active {
  background-color: transparent;
}

.daftar-jual-card {
  max-width: 207px;
  width: 100%;
  padding: 0;
  margin-right: 24px;
}

.tambah-daftar-jual-card {
  border: 1px dashed #D0D0D0;
  border-radius: 4px;
  text-decoration: none;
  min-height: 200px;
}

.tambah-daftar-jual-card img {
  display: block;
}

.tambah-daftar-jual-card p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8A8A8A;
  margin-top: 8px;
}

.daftar-jual-kategori-mobile {
  display: none;
}

.tab-content {
  margin-left: 48px;
}

.daftar-jual-tab-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.daftar-jual-tab-pane .text-empty {
  max-width: 296px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #151515;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .tab-content {
    margin-left: 0;
  }
  
  .daftar-jual-kategori {
    display: none;
  }

  .daftar-jual-kategori-mobile {
    display: inline;
    position: absolute;
    left: 10vw;
  }

  .daftar-jual-cards {
    justify-content: space-between;
    margin-top: 100px;
  }

  .daftar-jual-card {
    margin-right: 0;
  }

  .daftar-jual-kategori-mobile .nav-link {
    background-color: #E2D4F0;
    border-radius: 12px;
    margin-right: 16px;
    margin-bottom: 5px;
    padding: 12px 16px;
    height: 44px;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #7126B5;
    color: white;
  }

  .daftar-jual-kategori-mobile .active {
    background-color: #7126B5;
  }

  .daftar-jual-kategori-mobile .nav-link .d-flex {
    height: fit-content;
  }

  .daftar-jual-kategori-mobile .nav-link .d-flex img {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    display: block;
  }

  .daftar-jual-kategori-mobile .nav-link .d-flex p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3C3C3C;
  }

  .daftar-jual-kategori-mobile .active .d-flex p {
    color: white;
  }

  .daftar-jual-tab-pane {
    width: 100vw;
    padding: 0 5vw;
  }
}

@media screen and (max-width: 500px) {
  .daftar-jual-cards {
    padding: 0 10%;
    margin-top: 130px;
  }

  .daftar-jual-card {
    width: 156px;
  }

  .daftar-jual-kategori-mobile {
    left: 5vw;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 400px) {
  .daftar-jual-cards {
    padding: 0 7.5%;
  }
}

@media screen and (max-width: 350px) {
  .daftar-jual-cards {
    padding: 0 1%;
  }
}