.home-kategori {
  display: inline;
  position: absolute;
  left: 10vw;
  margin-top: 50px;
}

.home-kategori .nav-link {
  background-color: #E2D4F0;
  border-radius: 12px;
  margin-right: 16px;
  margin-bottom: 5px;
  padding: 12px 16px;
  height: 44px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #7126B5;
  color: white;
}

.home-kategori .active {
  background-color: #7126B5;
}

.home-kategori .nav-link .d-flex {
  height: fit-content;
}

.home-kategori .nav-link .d-flex img {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  display: block;
}

.home-kategori .nav-link .d-flex p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3C3C3C;
}

.home-kategori .active .d-flex p {
  color: white;
}

.list-barang-home {
  margin: 100px 0;
  width: 100vw;
}

.imgJual {
  margin-left: 40%;
  display: flex;
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .home-kategori {
    left: 5vw;
  }
}

@media screen and (max-width: 576px) {
  .home-kategori {
    left: 0;
  }

  .list-barang-home {
    margin-top: 175px;
  }

}