.popup-notifikasi {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: 32px;
  right: 30px;
  z-index: 3;

}

.popup-notifikasi-head {
  height: 52px;
  width: 100%;
}

.popup-notifikasi button {
  background-color: transparent;
  border: none;
}